.votes {
    display: inline-block;

    width: 40px;

    padding: 10px;
    text-align: center;

    vertical-align: top;

    position: absolute;
    margin-left: 0 !important;
}

.votes > img {
    width: 12px;
    position: relative;
    top: 2px;
}

.votes > p {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 1px;
    left: 0.5px;
    font-family: 'Roboto', sans-serif;
    line-height: 15.47px;
}

.votes > #bottom {
    transform: rotate(180deg);
    position: relative;
    top: -3px;
}

.fill_bottom {
    filter: invert(48%) sepia(93%) saturate(1656%) hue-rotate(206deg) brightness(106%) contrast(102%);
}

.fill {
    filter: invert(32%) sepia(59%) saturate(3999%) hue-rotate(1deg) brightness(103%) contrast(104%);
}

.votes > img:hover {
    cursor: pointer;
}
