.subreddit_form {
    margin: 0 10%;
    min-height: 400px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);

    text-align: left;

    padding-top: 20px;
    padding-bottom: 50px;

    font-family: 'Roboto', sans-serif;

    position: relative;
    transition: 0.2s ease;
    bottom: 20px;
    opacity: 0;
}

.open {
    bottom: 0;
    opacity: 1;
}

.subreddit_form > input {
    transition: 0.2s ease;
    border: 1px solid #FF4500;
    outline: none;

    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;

    display: inline-block;
    margin-right: 40%;

    margin-left: 30px;
}

.subreddit_form > textarea {
    margin-left: 30px;

    border: 1px solid #FF4500;
    outline: none;

    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;

    display: inline-block;
    margin-right: 473px;

    margin-top: 20px;

    width: 40%;
    height: 250px;

    font-family: 'Roboto', sans-serif;
    font-weight: 300 !important;
}

.subreddit_form > input:focus {
    border-width: 1px;
}

button {
    display: block;

    position: absolute;
    bottom: 15px;
    right: 15px;

    background: #FF4500;

    padding: 10px 10px;

    border-radius: 5px;

    color: white;

    font-family: 'Roboto', sans-serif;
    font-size: 20px !important;

    transition: 0.2s ease;

    border: none;
}

button:hover {
    opacity: 0.8;
    cursor: pointer;
}

button:active {
    opacity: 0.6;
}

button:disabled {
    cursor: not-allowed;
    opacity: 0.8;
}

button:disabled:hover {
    cursor: not-allowed;
    opacity: 0.8;
}

button:disabled:active {
    opacity: 0.8;
}
